$colorHeaderBG: rgb(80, 80, 80);
$colorHeaderFont: rgb(222, 222, 222);
$colorPortfolioBG: rgb(222,234,251);
$colorPortfolioFont: rgb(80,80,80);
$colorServiceBG: rgb(80,80,80);
$colorServiceFont: rgb(222,222,222);
$colorTimelineBG: rgb(222,234,251);
$colorTimelineFont: rgb(80,80,80);
$colorTimelineFontBright: rgb(222,222,222);
$colorContactBG: rgb(80,80,80);
$colorContactFont: rgb(222,222,222);
$colorContactFontHover: rgb(106,141,179);

body {
    margin: 0;

    #fh-profile-wrapper {
        width: 100%;
        height: auto;
        background-color: $colorHeaderBG;
        .container {
            .row {
                margin-top: 100px;
                margin-bottom: 100px;

                .fh-name {
                    color: $colorHeaderFont;
                    font-size: 40px;
                    font-weight: bold;
                    padding-top: 40px;
                    width: 100%;
                    text-align: center;
                }
            }

            .fh-navbar {
                background-color: transparent;
                border: none;
                .navbar-collapse {
                    text-align: center;

                    .navbar-nav {
                        display: inline-block;
                        float: none;
                        vertical-align: top;

                        li {
                            a {
                                color: $colorHeaderFont;
                                font-weight: bold;
                                font-size: 20px;
                                border: solid 2px $colorHeaderBG;

                                &:hover {
                                    border: solid 2px $colorHeaderFont;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #fh-portfolio-wrapper {
        background-color: $colorPortfolioBG;
        width: 100%;
        height: auto;

        .fh-portfolio {
            padding-top: 100px;
            padding-bottom: 100px;
            color: $colorPortfolioFont;

            .fh-headline {
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 50px;
            }

            .fh-portfolio-card {
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
                margin-bottom: 30px;

                .fh-portfolio-card-background {
                    width: 800px;
                    background-color: red;
                }

                &:hover {
                    .fh-portfolio-overlay {
                        opacity: 1;
                    }
                }

                img {
                    opacity: 1;
                }

                .fh-portfolio-overlay {
                    height: calc(100% - 30px);
                    width: calc(100% - 30px);
                    background-color: rgba(222,234,251, 0.7);
                    position: absolute;
                    top: 0;
                    left: 15px;
                    opacity: 0;

                    &.nohide {
                        opacity: 1;
                    }

                    .fh-portfolio-plus {
                        font-size: 60px;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 20%
                    }

                    .fh-portfolio-name {
                        font-weight: bold;
                        font-size: 30px;
                        text-align: center;
                        padding-top: 10%;
                    }

                    .fh-portfolio-description {
                        font-weight: bold;
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }
        }
    }

    #fh-service-wrapper {
        background-color: $colorServiceBG;
        width: 100%;
        height: auto;

        .fh-service {
            padding-top: 100px;
            padding-bottom: 100px;
            color: $colorServiceFont;

            .fh-headline {
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 50px;
            }

            .fh-service-cycle {
                margin: 0 auto;
                width: 255px;
                height: 255px;
                background-color: $colorServiceFont;
                border-radius: 150px;
                color: $colorServiceBG;
                margin-bottom: 30px;

                .fh-service-headline {
                    padding-top: 85px;
                    text-align: center;
                    font-size: 23px;
                    font-weight: bold;
                }

                .fh-service-description {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }

    #fh-timeline-wrapper {
        background-color: $colorTimelineBG;
        color: $colorTimelineFont;

        .container {
            padding-top: 100px;
            padding-bottom: 100px;

            .fh-headline {
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 50px;
            }

            .timeline {
                list-style: none;
                padding: 20px 0 20px;
                position: relative;
                margin-top: 100px;

                &::before {
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    content: " ";
                    width: 3px;
                    background-color: rgba(80, 80, 80,0.15);
                    left: 50%;
                    margin-left: -1.5px;
                }

                > li {
                    margin-bottom: 25px;
                    position: relative;

                    &::before, &::after {
                      content: " ";
                      display: table;
                    }

                    &::after {
                      clear: both;
                    }

                    &::before, &::after {
                      content: " ";
                      display: table;
                    }

                    &.timeline-inverted {
                        .tl-circ {
                            background: #AE5D44;
                            box-shadow: 0 0 0 4px #FB8762, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;
                        }

                        .timeline-panel {
                            float: right;

                            &::before {
                                border-left-width: 0;
                                border-right-width: 15px;
                                left: -15px;
                                right: auto;
                            }

                            &::after {
                                border-left-width: 0;
                                border-right-width: 14px;
                                left: -14px;
                                right: auto;
                            }

                            .tl-heading h4 {
                                margin: 0;
                                color: #AE5D44;
                            }
                        }
                    }

                    .timeline-date {
                        display: block;
                        width: 200px;
                        background: $colorTimelineFont;
                        color: $colorTimelineFontBright;
                        margin: 0 auto;
                        padding: 3px 0;
                        font-weight: bold;
                        text-align: center;
                        -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
                    }

                    .timeline-panel {
                        width: 46%;
                        float: left;
                        background: white;
                        padding: 20px;
                        position: relative;
                        border-radius: 0.25em;
                        box-shadow: 0 3px 0 rgba(80, 80, 80, 0.15);

                        &::after {
                            position: absolute;
                            top: 27px;
                            right: -14px;
                            display: inline-block;
                            border-top: 14px solid transparent;
                            border-left: 14px solid #fff;
                            border-right: 0 solid #fff;
                            border-bottom: 14px solid transparent;
                            content: " ";
                        }

                        &.noarrow {
                            &::before, &::after {
                                top:0;
                                right:0;
                                display: none;
                                border: 0;
                            }
                        }

                        .tl-heading h4 {
                            margin: 0;
                            color: #6a8db3;
                        }

                        .tl-body {
                            p, ul {
                                margin-bottom: 0;
                            }
                            > p + p {
                                margin-top: 5px;
                            }

                            ul {
                                list-style: none;
                                margin-left: 0;
                                padding-left: 1.2em;
                                text-indent: -1.2em;
                            }

                            li:before {
                                content: "►";
                                display: block;
                                float: left;
                                width: 1.2em;
                            }
                        }
                    }

                    .tl-circ {
                        position: absolute;
                        top: 23px;
                        left: 49.7%;
                        text-align: center;
                        background: #6a8db3;
                        color: #fff;
                        width: 40px;
                        height: 40px;
                        line-height: 35px;
                        margin-left: -16px;
                        border-radius: 50%;
                        box-shadow: 0 0 0 4px #90acc7, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;
                        z-index: 99999;

                        span {
                            padding-top: 11px;
                            display: inline-block;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    #fh-contact-wrapper {
        background-color: $colorContactBG;
        width: 100%;
        height: auto;
        color: $colorContactFont;

        .fh-headline {
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .container {
            padding-top: 100px;
            padding-bottom: 100px;
            color: $colorContactFont;

            #map-container{
                width: 100%;
                height: 300px;
            }

            address {
                font-size: 17px;

                .fh-offset {
                    padding-left: 22px;
                }
            }

            span:last-child {
                margin-bottom: 30px;
            }

            .fh-social-btn {
                font-size: 25px;
                text-decoration: none;
                color:  $colorContactFont;

                &:hover {
                    color: $colorContactFontHover;
                }
            }
        }
    }
}


// Media Queries Portfolio
@media (max-width: 700px) {
    .fh-portfolio-overlay {
        opacity: 1 !important;

        .fh-portfolio-plus {
            font-size: 35px !important;
            padding-top: 15% !important;
        }
        .fh-portfolio-description {
            font-size: 10px !important;
        }
        .fh-portfolio-name {
            font-size: 20px !important;
        }
    }
}


/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44% !important;
  }
}

@media (max-width: 700px) {
    .timeline {
        &::before {
            left: 40px !important;
        }

        li {
            .timeline-panel {
                width: calc(100% - 90px) !important;
                width: -moz-calc(100% - 90px) !important;
                width: -webkit-calc(100% - 90px) !important;
            }

            > .timeline-panel {
                float: right !important;

                &::before {
                    border-left-width: 0 !important;
                    border-right-width: 15px !important;
                    left: -15px !important;
                    right: auto !important;
                }

                &::after {
                    border-left-width: 0 !important;
                    border-right-width: 14px !important;
                    left: -14px !important;
                    right: auto !important;
                }
            }

            .timeline-date {
                width: 140px !important;
            }

            > .timeline-date {
                margin: 0 !important;
            }

            .tl-circ {
                top: 22px !important;
                left: 22px !important;
                margin-left: 0 !important;
            }
        }
    }
}
